* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.wrapper {
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgba(0, 0, 0, 0.801);
    background-image: url(../images/sun.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.output {
    max-height: 80vh;
    max-width: 80vw;
    margin: auto;
}

.innerContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 50vh;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 30px;
    -webkit-box-shadow: 0px 0px 24px 7px rgba(0, 0, 0, 0.53);
    box-shadow: 0px 0px 24px 7px rgba(0, 0, 0, 0.53);
}

.more {
    display: none;
    width: 20vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.329);
    align-items: center;
    justify-content: center;
    color: white;
    display: none;
}

.fiveDays {
    display: none;
}

.searchDiv {
    width: 20vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.topDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px;
}

.topContainer {
    width: 80%;
    margin: auto;
    display: flex;
}

h1 {
    color: white;
}
.submitBtn {
    all: unset;
}

.fa-magnifying-glass {
    font-size: large;
    cursor: pointer;
    color: white;
}

.fa-magnifying-glass:hover {
    transition: 300ms ease-in-out;
    transform: scale(1.2);
}
.search {
    background-color: rgba(0, 0, 0, 0.171);
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    outline: white solid 1px;
    border-radius: 5px;
    padding: 6px 15px;
    color: white;
    display: none;
}
/* 
button:hover {
    filter: brightness(1.1);
} */

form {
    max-width: 300px;
    display: flex;
    align-items: center;
    gap: 10px;
}

form input {
    width: 200px;
    padding: 8px 15px;
    border-radius: 5px;
    outline: none;
    color: rgba(0, 0, 0, 0.767);
    font-weight: 700;
}

/*  ############## */

.temp {
    font-size: 5rem;
    color: rgb(255, 123, 0);
}

.weather {
    font-size: 4rem;
    color: white;
}

.top {
    display: flex;
    align-items: center;
}

.dateX {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 24px 7px rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 24px 7px rgba(255, 255, 255, 0.3);
}

.date {
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.87);
}

.country {
    color: white;
}

.details {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.details div {
    padding: 20px 30px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-bottom: 20px;
    color: white;
    -webkit-box-shadow: 0px 0px 24px 7px rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 24px 7px rgba(255, 255, 255, 0.3);
}
